In [1]:
# Display the elements of type string reverse it else print as it is in the tuple

tup = (12,232,23,'flowers',34,565,57,'Animals','School')
lst = list(tup)
new_lst = []
for i in lst:
    if isinstance(i,(str)):
        x = i[::-1]
        new_lst.append(x)
    else:
        new_lst.append(i)
print(tuple(new_lst))

(12, 232, 23, 'srewolf', 34, 565, 57, 'slaminA', 'loohcS')

In [2]:
# li = ['tiger.animal',lion.animal,sunflower.flower,cat.animal,rose.flower,jasmin.flower]
# create separate animals and flowers list

li = ['tiger.animal','lion.animal','sunflower.flower','cat.animal','rose.flower','jasmin.flower']
flowers = []
animals = []
for i in li:
  if "flower" in i:
      flowers.append(i)
  elif "animal" in i:
      animals.append(i)
flo = []
for j in flowers:
    x = j.split('.')
    x.remove('flower')
    flo.extend(x)
print("List of flowers is : ",flo)
ani = []
for j in animals:
    x = j.split('.')
    x.remove('animal')
    ani.extend(x)
print("List of animals is : ",ani)

List of flowers is :  ['sunflower', 'rose', 'jasmin']
List of animals is :  ['tiger', 'lion', 'cat']

In [3]:
#  Count all alphabets, digits, and special symbols from a given string
#  and sum of number in a string
#  str = 'hai hello&&1489welcome to day3 sess23ion'

t_str = 'hai hello&&1489welcome to day3 sess23ion'
alphabets = 0
digits = 0
special = 0
for i in range(len(t_str)):
    if (t_str[i].isalpha()):
        alphabets = alphabets + 1
    elif (t_str[i].isdigit()):
        digits = digits + 1
    else:
        special = special + 1
print("Alphabets is : ",alphabets)
print("Digits is : ",digits)
print("Special Symbols is : ",special)

Alphabets is :  27
Digits is :  7
Special Symbols is :  6

In [4]:
#check the given no is prime or not
#A prime number is a number that is only divisible by 1 and itself.


num = int(input("Enter the number : "))
if num != 0:
    for i in (2, int(num/2)+1):
        if num != 2 and num % i == 0:
            print(num, "is not a prime number")
            break
        else:
            print(num, "is a prime number")
            break
else:
    print(num, "is not a prime number")

Enter the number : 3
3 is a prime number

In [5]:
# Write a function that accepts two strings and returns True if the two
# strings are anagrams of each other.

# def anagrams(a,b):
#     if sorted(a) == sorted(b):
#         return True
#     else:
#         return False
# str_1 = input("Enter 1st string : ")
# str_2 = input("Enter 2nd string : ")
# print(anagrams(str_1,str_2))

# --OR--

def anagrams(a,b):
    lst1,lst2 = [],[]
    [lst1.append(ord(i)) for i in a]
    [lst2.append(ord(j)) for j in b]
    lst1.sort()
    lst2.sort()
    if lst1 == lst2:
        print('True')
    else:
        print('False')
str_1 = input("Enter 1st string : ")
str_2 = input("Enter 2nd string : ")
anagrams(str_1,str_2)

Enter 1st string : abc
Enter 2nd string : cba
True

In [6]:
# Find the range from the following string -- Try without using function
# sentence = '0-0,4-8,20-20,43-45'
# Output Should be [0, 4, 5, 6, 7, 8, 20, 43, 44, 45, 46]

sentence = '0-0,4-8,20-20,43-45'
def find_range(st):
    a = st.split(',')
    lst = []
    for i in a:
        x = i.split('-')
        a=int(x[0])
        b=int(x[1])
        [lst.append(j) for j in range(a,b+1)]
    print(lst)
find_range(sentence)

[0, 4, 5, 6, 7, 8, 20, 43, 44, 45]

In [7]:
# names = ["john", "johnny", "jackie", "john", "jackie",
#             "jamie", "jamie", "john",
#             "johnny", "jamie", "johnny",
#             "john"];
# a)print name with count
# b)Print name with highest count

names = ["john", "johnny", "jackie", "john", "jackie","jamie", "jamie", "john","johnny", "jamie", "johnny","john"];
d = {}
for i in names:
    d[i] = names.count(i)
print(d)

s = d.values()
m_s = max(s)
# print(m_s)
for i in d:
    if d[i] == m_s:
        print(i,m_s)

{'john': 4, 'johnny': 3, 'jackie': 2, 'jamie': 3}
john 4

In [8]:
# Enter 5 user input number if the number is completely divisible
# by 3 then take number as key value as next number with
# ex: user input = 15
# user input = 27
# {15: [15, 16, 17, 18, 19], 27: [27, 28, 29, 30, 31]}

d ={}
lst = []
key = 0
for i in range(0,5):
    num = int(input('Enter the number : '))
    key = num
    if num % 3 == 0:
        for j in range(5):
            lst.append(num)
            num += 1
        d[key] = lst
    lst = []
print(d)

Enter the number : 13
Enter the number : 15
Enter the number : 20
Enter the number : 30
Enter the number : 45
{15: [15, 16, 17, 18, 19], 30: [30, 31, 32, 33, 34], 45: [45, 46, 47, 48, 49]}

In [9]:
# 3)flip key and value pair
d = {"a": "hello", "b": 100, "c": 10.2, "d": "world","e":'121'}
keys = []
values  =[]
for key in d.keys():
    values.append(key)
for value in d.values():
    keys.append(value)
res = {}
for key in keys:
    for value in values:
        res[key] = value
        values.remove(value)
        break
print(res)

# --OR---

# n = {'A': 67, 'B': 23, 'C': 45, 'D': 56, 'E': 12, 'F': 69, 'G': 67, 'H': 23}
# t = {}
# for key,value in n.items():
#     t[value] = key
# print(t)

{'hello': 'a', 100: 'b', 10.2: 'c', 'world': 'd', '121': 'e'}

In [10]:
# print duplicate element in tuple

tup = (23,24,34,23,24,546,'akash','rahul','pooja','rahul',546,'akash')
lst_tup = list(tup)
dup_tup = []
for i in lst_tup:
    if lst_tup.count(i) > 1:
        dup_tup.append(i)
for i in dup_tup:
    if dup_tup.count(i) > 1:
        dup_tup.remove(i)
print(tuple(dup_tup))

(23, 24, 546, 'rahul', 546, 'akash')

In [11]:
# print integers in a list

li = [1,'java',2.3,'5',5,'python']
new_lst = []
for i in li:
    if isinstance(i,(int)):
        new_lst.append(i)
print(new_lst)

[1, 5]

In [12]:
# Create a product list based on user input

lst = []
num = int(input("Enter the total number of product : "))
for i in range(0,num):
    prod = input("Enter tha product name : ")
    lst.append(prod)
for i in range(0,len(lst)):
    print(i+1,'',lst[i])

Enter the total number of product : 3
Enter tha product name : laptop
Enter tha product name : mouse
Enter tha product name : keyboard
1  laptop
2  mouse
3  keyboard

In [13]:
# If list contains string reverse the string else keep as it is

lst = [12,223,23,78,'akash',34,565,57,'Rahul','Vishal']
new_lst = []
for i in lst:
    if isinstance(i,(str)):
        x = i[::-1]
        new_lst.append(x)
    else:
        new_lst.append(i)
print(new_lst)

[12, 223, 23, 78, 'hsaka', 34, 565, 57, 'luhaR', 'lahsiV']

In [14]:
# li = ['python',1,2,"123",3+4j,"java"] display how many string elements in a list

li = ['python',1,2,"123",3+4j,"java"]
count = 0
for i in li:
    if isinstance(i, str):
        count = count + 1           
print('No of strings : ',count)

No of strings :  3

In [15]:
#3)Based on user input month display how many days are there on perticular month

month = input('Enter the name of month : ')
if(month == 'Apr' or month == 'June' or month == 'Sept' or month == 'Nov'):
    print("Number of days is 30")
elif(month == 'Feb'):
    print("Number of days is 28 or 29")
else:
    print("Number of days is 31")

Enter the name of month : Mar
Number of days is 31

In [16]:
# 1) input a number and check whether the FIRST and the LAST digits are same
#  example:  96789
#            |   |   they are same
#  note it should be atleast a THREE digit number...

print("Enter 3 or more than 3 digit number")
str_num = (input("Enter the number : "))
# str_num = str(num)
len_num = len(str_num)
if len_num >= 3:
    if(str_num[0] ==  str_num[len_num-1]):
        print("FIRST and the LAST digits are same")
    else:
        print("FIRST and the LAST digits are not same")

Enter 3 or more than 3 digit number
Enter the number : 1231
FIRST and the LAST digits are same

In [19]:
# Given a text ="ABC-4567-WXYZ-23091929-FGH" something like this...
# find all the digits , sum them up
# display the total and the avg
# if there are no digits then it should display NO DIGITS FOUND

text ="ABC-4567-WXYZ-23091929-FGH"
count_of_digit = 0
sum_of_digit = 0
for i in text:
    if '0' <= i <= '9':
        count_of_digit += 1 
        sum_of_digit += int(i)
if count_of_digit == 0:
    print('NO DIGITS FOUND')
else:
    print('The total is ',sum_of_digit)
    print('The avg is ',(sum_of_digit/count_of_digit))

The total is  57
The avg is  4.75

In [20]:
# check whether the LAST digit and SECOND DIGIT is matching
# 96786  
#  |  |   matching 
#     last
# second

num = int(input("Enter the number : "))
str_num = str(num)
len_num = len(str_num)
if(str_num[1] ==  str_num[len_num-1]):
    print("LAST digit and SECOND DIGIT are same")
else:
    print("LAST and the SECOND digits are not same")

Enter the number : 12342
LAST digit and SECOND DIGIT are same

In [21]:
# print factorial of given number

num = int(input("Enter the number for factorial : "))
fact = 1
for i in range(1,num + 1):
    fact = i * fact
print(fact)

Enter the number for factorial : 5
120

In [23]:
# Convert Upper to lower lower to upper case in a string if it is a number or 
# spl character print as it is

cha = input("Write a string : ")
end = len(cha)
for i in range(0,end):
    if cha[i].upper():
        print(cha[i].swapcase(),end="")
    elif cha[i].lower():
        print(cha[i].swapcase(),end="")
    else:
        print(cha[i],end="")

Write a string : AKash
akASH

In [26]:
# 9) Count how many Vowels and consonants in a string

vowels = ["A","E","I","O","U","a","e","i","o","u"]
cha = input("Write the string : ")
count_vowels = 0
count_consonants = 0
for i in range(0,len(cha)):
    if cha[i] in vowels:
        count_vowels = count_vowels + 1
    else:
        count_consonants = count_consonants + 1
print("Total Vowels in string is ",count_vowels)
print("Total consonants in string is ",count_consonants)

Write the string : python is easy language
Total Vowels in string is  8
Total consonants in string is  15

In [27]:
# input 5 numbers,if entered number is in the range of 15 to 30 then add those 
# numbers else count the numbers which are not in range 15 to 30

sum = 0
count = 0
for i in range(0,5):
    num = int(input("Enter the number : "))
    if 15 <= num <= 30:
        sum = sum + num
    else:
        count = count + 1
print("Sum is",sum)
print("Count of number not in range ",count)

Enter the number : 23
Enter the number : 13
Enter the number : 16
Enter the number : 17
Enter the number : 18
Sum is 74
Count of number not in range  1

In [29]:
# input 5 subjects marks find total,average marks, if marks greater than 
# 35 pass less than 35 fail count how many subjects are passes and how 
# many are failed

i = 0
total = 0
pass_s = 0
fail = 0
while i < 5:
    sub = int(input("Enter the marks of Subject : "))
    total = total + sub
    if sub > 35:
        pass_s = pass_s + 1
    else:
        fail= fail + 1
    i = i + 1
print("Total of marks is ", total)
print("Pass in",pass_s,"subject")
print("Fail in",fail,"subject")

Enter the marks of Subject : 23
Enter the marks of Subject : 67
Enter the marks of Subject : 21
Enter the marks of Subject : 98
Enter the marks of Subject : 78
Total of marks is  287
Pass in 3 subject
Fail in 2 subject